Repository tesler-platform/tesler-ui, pull requests merged in 2021-02, with the labels that each got.

#586 Release 1.27.1
  CHANGELOG.md
  package.json
Labels: release

#589 fix: assoc load two times
  src/components/ui/Multivalue/MultivalueTag.tsx
Labels: bug

#590 `useViewTabs` hook tests
  src/hooks/__tests__/useViewTabs.test.tsx
  src/utils/__tests__/viewTabs.test.ts
  src/utils/viewTabs.ts
Labels: tests

#591 `bcSelectDepthRecord` epic tests
  src/actions/actions.ts
  src/components/SameBcHierarchyTable/SameBcHierarchyTable.tsx
  src/epics/data.ts
  src/epics/data/__tests__/bcSelectDepthRecord.test.ts
  src/epics/data/bcSelectDepthRecord.ts
  src/index.ts
  src/interfaces/bc.ts
Labels: documentation, tests

#592 `session` reducer tests
  src/reducers/__tests__/session.test.ts
  src/reducers/session.ts
Labels: tests

#595 `data` reducer tests
  src/actions/actions.ts
  src/reducers/__tests__/data.test.ts
  src/reducers/data.ts
Labels: tests

#594 TableWidget filter for Checkbox field types
  src/components/FilterPopup/FilterPopup.tsx
  src/components/ui/FilterField/FilterField.test.tsx
  src/components/ui/FilterField/FilterField.tsx
Labels: bug

#600 deprecate `<SameBcHierarchyTable />` component, support column width for regular hierarchies with `hierarchySameBc` widget option; use strict versioning for `@tesler-ui/schema`
  package.json
  src/components/HierarchyTable/HierarchyTable.less
  src/components/HierarchyTable/HierarchyTable.tsx
  src/components/SameBcHierarchyTable/SameBcHierarchyTable.tsx
  src/components/widgets/AssocListPopup/AssocListPopup.tsx
  src/components/widgets/PickListPopup/PickListPopup.tsx
  src/epics/data.ts
  src/epics/data/removeMultivalueTag.ts
  src/utils/hierarchy.ts
  yarn.lock
Labels: enhancement

#588 provide original store slice state before in went through Tesler reducer as a reducer argument to allow overriding built-in behavior
  src/Provider.tsx
  src/epics/router/__tests__/changeLocation.test.ts
  src/interfaces/store.ts
  src/reducers/router.ts
  src/utils/__tests__/configureStore.test.ts
  src/utils/configureStore.ts
Labels: documentation, enhancement, tests

#603 Release 1.28.1
  CHANGELOG.md
  package.json
Labels: release
