Repository tesler-platform/tesler-ui, pull requests merged in 2021-01, with the labels that each got.

#547 `selectView` epic test
  src/epics/data.ts
  src/epics/data/__tests__/selectView.test.ts
  src/epics/data/selectView.ts
  src/index.ts
  src/interfaces/view.ts
Labels: documentation, tests

#548 `requestBcChildren` utility moved to `utils/bc.ts`, test coverage
  src/epics/data.ts
  src/utils/__tests__/bc.test.ts
  src/utils/bc.ts
Labels: tests

#550 `getResources` -> `getTextAssets`, tests
  src/assets/i18n/__tests__/getTextAssets.ts
  src/assets/i18n/index.ts
  src/imports/i18n.ts
Labels: documentation, tests

#552 `openButtonWarningNotification` tests
  src/utils/__tests__/notifications.test.tsx
  src/utils/notifications.tsx
Labels: documentation, tests

#553 `combineEpics` tests
  src/epics/data/selectView.ts
  src/utils/__tests__/combineEpics.test.ts
  src/utils/combineEpics.ts
Labels: tests

#555 `changeLocation` tests
  src/epics/router.ts
  src/epics/router/__tests__/changeLocation.test.ts
  src/epics/router/changeLocation.ts
Labels: tests

#556 `selectScreen` epic tests
  src/epics/router.ts
  src/epics/router/__tests__/selectScreen.test.ts
  src/epics/router/selectScreen.ts
  src/index.ts
Labels: tests

#557 `selectView` epic tests
  src/epics/router.ts
  src/epics/router/__tests__/selectView.test.ts
  src/epics/router/selectView.ts
Labels: tests

#558 `hierarchyDisableParent` widget option in `<FullHierarchyTable />` erroneously checked `noChildren` flag only among items of current depth allowing nodes with children to be selected despite the widget flag
  src/components/FullHierarchyTable/FullHierarchyTable.test.tsx
  src/components/FullHierarchyTable/FullHierarchyTable.tsx
Labels: bug

#559 `loginDone` router epic tests
  src/epics/router.ts
  src/epics/router/__tests__/loginDone.test.ts
  src/epics/router/loginDone.ts
  src/index.ts
Labels: tests

#563 `handleRouter` epic tests
  src/actions/actions.ts
  src/api/api.ts
  src/epics/router.ts
  src/epics/router/__tests__/handleRouter.test.ts
  src/epics/router/handleRouter.ts
  src/epics/view/fileUploadConfirm.ts
  src/index.ts
  yarn.lock
Labels: documentation, tests

#564 `userDrillDown` epic tests
  src/epics/router.ts
  src/epics/router/__tests__/userDrillDown.test.ts
  src/epics/router/userDrillDown.ts
  src/index.ts
  src/interfaces/router.ts
Labels: documentation, tests

#568 move `defaultParseLocation`, `defaultBuildLocation` to history utils and test coverage
  src/Provider.tsx
  src/epics/router/drilldown.ts
  src/utils/__tests__/history.test.ts
  src/utils/history.ts
Labels: documentation, tests

#569 HierarchyTable layout fix
  src/components/HierarchyTable/HierarchyTable.tsx
Labels: bug

#572 `sendOperationAssociate` epic tests
  src/epics/view.ts
  src/epics/view/__tests__/sendOperationAssociate.test.ts
  src/epics/view/sendOperationAssociate.ts
  src/index.ts
Labels: documentation, tests

#573 Typo of useFlatFormFields is fixed
  src/hooks/useFlatFormFields.ts
Labels: bug

#577 `loginDone` epic test
  src/epics/session.ts
  src/epics/session/loginDone.test.ts
  src/epics/session/loginDone.ts
Labels: tests

#571 New prop `customSpinner` is added (#570)
  src/components/View/View.tsx
  src/components/View/__tests__/View.test.tsx
  src/components/Widget/Widget.test.tsx
  src/components/Widget/Widget.tsx
  src/components/ui/DashboardLayout/DashboardLayout.tsx
  src/components/ui/DashboardLayout/__tests__/DashboardLayout.test.tsx
Labels: alpha, enhancement

#582 Remove backend-affecting types and reexport them from "@tesler-ui/schema"
  package.json
  src/interfaces/data.ts
  src/interfaces/navigation.ts
  src/interfaces/operation.ts
  src/interfaces/router.ts
  src/interfaces/view.ts
  src/interfaces/widget.ts
  yarn.lock
Labels: dependencies, enhancement
